# Import software libraries

In [1]:
# Note: This solution file uses absolute file paths for compatibility.

import sys
import numpy as np
import pandas as pd

# Summarize software libraries used.
print('Libraries used in this project:')
print('- Python {}'.format(sys.version))
print('- NumPy {}'.format(np.__version__))
print('- pandas {}'.format(pd.__version__))

Libraries used in this project:
- Python 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
- NumPy 1.22.3
- pandas 1.4.3

# Load a CSV file as a `DataFrame`

In [2]:
stores_df = pd.read_csv('..\\data\\stores_data.csv', index_col = 0)
stores_df.head()

,City,CustomerType,Gender,ProductLine,UnitPrice,Quantity,Tax,TotalPrice,Date,Revenue,COGS
InvoiceID,,,,,,,,,,,
OLI-CLO-005,Olinger,Member,Male,Clothing,48.71,1,2.44,51.15,3/26/2019,48.71,45.96
OLI-CLO-006,Olinger,Normal,Male,Clothing,78.55,9,35.35,742.30,3/1/2019,706.95,690.66
OLI-ELE-009,Olinger,Normal,Female,Electronics,23.07,9,10.38,218.01,2/1/2019,207.63,200.86
CAR-FBV-006,Carbon Creek,Normal,Male,Food and beverages,58.26,6,17.48,367.04,3/28/2019,349.56,336.31
GRC-HBE-006,Greene City,Normal,Male,Health and beauty,30.35,7,10.62,223.07,3/19/2019,212.45,206.67

In [3]:
print('DataFrame shape: {}'.format(stores_df.shape))
print('DataFrame size: {}'.format(stores_df.size))

DataFrame shape: (200, 11)
DataFrame size: 2200

In [4]:
stores_df.dtypes

City             object
CustomerType     object
Gender           object
ProductLine      object
UnitPrice       float64
Quantity          int64
Tax             float64
TotalPrice      float64
Date             object
Revenue         float64
COGS            float64
dtype: object

In [5]:
stores_df.index

Index(['OLI-CLO-005', 'OLI-CLO-006', 'OLI-ELE-009', 'CAR-FBV-006',
       'GRC-HBE-006', 'CAR-ELE-006', 'OLI-CLO-007', 'CAR-STR-009',
       'OLI-FBV-008', 'OLI-ELE-010',
       ...
       'GRC-ELE-014', 'OLI-ELE-017', 'CAR-ELE-016', 'CAR-FBV-015',
       'GRC-HBE-014', 'OLI-ELE-018', 'OLI-ELE-019', 'CAR-HML-025',
       'CAR-HML-026', 'OLI-HML-014'],
      dtype='object', name='InvoiceID', length=200)

# Save the `DataFrame` as a Microsoft Excel file

In [6]:
stores_df.to_excel('..\\data\\stores_data.xlsx', sheet_name = 'Stores Data',
                   freeze_panes = (1, 1))
print('DataFrame has been saved.')

ModuleNotFoundError: No module named 'openpyxl'